.signup-container {
  min-height: 100vh;
  /* background: rgba(0, 0, 0, 0.5); black with 50% transparency */
  /* background fill for empty space if image doesn't cover */
  background-image: url("https://res.cloudinary.com/dpiu7mohv/image/upload/v1722878097/3896144_g4lv29.jpg");
  padding: 20px;
  background-size: contain;
}

/* Form background with slight transparency */
.signup-form {
  background-color: lightyellow;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .signup-form {
    margin-top:270px;
    background-color: white;
  }
}

/* Add smooth shadow and rounded corners */
.signup-form {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* Center the h2 text */
.signup-form h2 {
  font-weight: 700;
  color: #111827;
}

/* Button hover effect */
.signup-form .btn-primary:hover {
  background-color: #0d6efdcc;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
