/* Full page background gradient */
.login-container {
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dpiu7mohv/image/upload/v1762701704/bgImage_qxw5dc.avif");
  padding: 20px;
}

/* Form background with slight transparency */
.login-form {
  background-color: skyblue;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}


/* Center the h2 text and add font weight */
.login-form h2 {
  font-weight: 700;
  color: #111827;
}

/* Button hover effect */
.login-form .btn-primary:hover {
  background-color: #0d6efdcc;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
